*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsla(358, 75%, 58%, 1);
  --primary-2: hsla(358, 85%, 63%, 1);
  --blue: hsla(209, 77%, 23%, 1);
  --blue-2: hsla(209, 100%, 40%, 1);
  --rose-1: hsla(358, 85%, 63%, 0.3);
  --rose-2: hsla(356, 81%, 96%, 1);

  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-40: 2.5rem;
  --fs-44: 2.75rem;
  --fs-48: 3rem;
  --fs-72: 4.5rem;
}

html {
  scroll-behavior: smooth;
}

br {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  color: white;
  padding-bottom: 70px;
}

header {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.hero {
  position: relative;
  background-color: var(--primary-2);
  overflow: hidden;
  padding-bottom: 46px;
}

.menu__trigger {
  width: 72px;
  height: 72px;
  z-index: 100;
  opacity: 0;
}

.menu {
  display: grid;
  grid-template-areas: "buttons" "items";
  justify-items: end;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.menu__lines,
.menu__close,
.menu__trigger {
  grid-area: buttons;
  width: 40px;
  height: 40px;
  margin: 20px;
}

.menu__close {
  display: none;
}

.menu__trigger:checked~.menu__lines {
  display: none;
}

.menu__trigger:checked~.menu__close {
  display: block;
}

.menu__trigger:checked~.menu__items {
  opacity: 1;
  transition: opacity 500ms;
}

.menu__items {
  width: 100%;
  opacity: 0;
  padding: 0 20px 20px 20px;
  background-color: var(--primary);
  border-radius: 0 0 20px 20px;
  font-size: var(--fs-16);
  transition: opacity 500ms;
  position: absolute;
  top: 80px;
}

.menu__items ul {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  list-style: none;
  padding-top: 24px;
}

.menu__items ul {
  display: grid;
  gap: 12px;
}

.menu__items ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 500ms, text-shadow 500ms;
}

.menu__items ul li a:focus {
  opacity: 1;
  outline: none;
}

.menu__items ul li a:hover {
  opacity: 1;
}

.menu:has(:checked) .menu-items {
  display: block;
}

.info {
  padding: 50px 20px 35px;
}

.info .pet-images img {
  outline: 3px solid var(--primary-2);
  border-radius: 50%;
  width: 24px;
}

.info .pet-images img+img {
  margin-left: -10px;
}

.info__text {
  font-weight: 400;
  font-size: var(--fs-14);
}

.info__text span {
  font-weight: 700;
}

.hero .text-wrapper {
  padding: 0 20px 30px;
}

.info__title {
  font-size: var(--fs-44);
  font-size: clamp(var(--fs-44), 2.1rem + 2.7vw, var(--fs-72));
  width: 90%;
  line-height: 110%;
}

.info__subtitle {
  display: none;
}

/* ===== */

.mosaic {
  height: 280px;
  position: relative;
  background-image: url("./assets/dog-no-bg.png"), url("./assets/bg-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom center;
}

.cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.cta__button {
  width: 240px;
  height: 55px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: var(--blue);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--fs-14);
}

/* section */

main {
  color: var(--blue);
  padding-top: 70px;
  padding-bottom: 40px;
}

main h3 {
  font-size: var(--fs-30);
  font-weight: 700;
  width: 320px;
  margin: 0 auto 24px;
}

.container-sections {
  display: grid;
  gap: 10px;
}

section {
  background-color: var(--rose-2);
  border: 1px solid var(--rose-1);
  color: var(--blue);
  height: 200px;
  width: 320px;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section img {
  width: 30px;
}

section p {
  font-size: var(--fs-14);
  color: black;
  line-height: 110%;
}

section span {
  font-weight: 700;
}

.app-screen {
  margin-top: 35px;
  position: relative;
  background-image: url("./assets/app-screen-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 360px;
  width: 100%;
}

.app-screen::before {
  position: absolute;
  width: 100%;
  height: 280px;
  content: '';
  background-color: hsla(356, 81%, 96%, 0.8);
  border-top: 1px solid var(--rose-1);
  border-bottom: 1px solid var(--rose-1);
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}


@media (min-width: 900px) {
  br {
    display: initial;
  }

  .hero-wrapper {
    background-color: var(--primary-2);
  }

  .hero {
    display: grid;
    height: 820px;
    grid-template-areas:
      "header header"
      "info mosaic"
      "texts mosaic";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 156px 150px auto;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: transparent;
  }

  header img {
    width: 180px;
  }

  .menu__items {
    width: 100%;
    /* display: none; */
    opacity: 1;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: var(--fs-18);
    position: static;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .menu__items ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 4vw;
    padding: 0;
    border: none;
  }

  .menu__items ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
    font-size: var(--fs-18);
    font-weight: 600;
  }

  .menu__items ul li a:focus {
    opacity: 1;
    outline: none;
  }

  .menu__items ul li a:hover {
    opacity: 1;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: info;
    align-self: center;
    width: 80%;
    margin: auto;
  }

  .info .pet-images img {
    width: 32px;
  }

  .info__text {
    font-size: var(--fs-16);
  }

  .hero .text-wrapper {
    grid-area: texts;
    align-self: start;
    display: grid;
    gap: 80px;
    width: 80%;
    margin: auto;
  }

  .info__title {
    width: auto;
    line-height: 110%;
  }

  .info__subtitle {
    display: block;
    font-size: var(--fs-24);
    font-weight: 400;
    width: 90%;
    line-height: 34px;
  }

  .hero .menu .menu__lines,
  .hero .menu .menu__close,
  .hero .menu .menu__trigger {
    display: none;
  }

  .mosaic {
    grid-area: mosaic;
    height: auto;
    background-image: url("./assets/dog-desk-no-bg.png"), url("./assets/bg-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left 56px, top 42px left;
    background-size: auto, auto;
  }

  .cta {
    height: 156px;
    left: 295px;
  }

  .cta__button {
    width: clamp(240px, -12rem + 55vw, 500px);
    height: 72px;
    border-radius: 20px;
    font-size: var(--fs-20);
  }

  .cta__button:hover {
    outline: 2px solid var(--blue-2);
    color: var(--blue-2);
    opacity: 0.9;
    transition: all 500ms;
  }

  .main-wrapper {
    height: 900px;
  }

  main {
    height: 880px;
    display: grid;
    grid-template-areas:
      "screen title"
      "screen section";
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    width: 95%;
    padding-right: 100px;
  }


  main h3 {
    grid-area: title;
    font-size: var(--fs-48);
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  .container-sections {
    grid-area: section;
    flex-wrap: wrap;
    display: grid;
    grid-template-areas:
      "A B"
      "C C";
    grid-auto-rows: 200px;
    gap: 32px;
    align-items: start;
  }


  .container-sections section:nth-child(1) {
    grid-area: A;
  }

  .container-sections section:nth-child(2) {
    grid-area: B;
  }

  .container-sections section:nth-child(3) {
    grid-area: C;
  }

  section {
    color: var(--blue);
    height: 200px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
  }

  @media (width<=1080px) {
    main {
      padding-right: 0;
    }

    .container-sections {
      grid-template-areas: "A" "B" "C";
      gap: 16px;
    }

    section {
      height: 180px;
    }
  }

  .app-screen {
    border: none;
    grid-area: screen;
    background-image: url('./assets/screen-3.png');
    position: relative;
    background-position: bottom center;
    margin: 0;
    height: auto;
    height: 760px;
  }

  .app-screen::before {
    display: none;
  }

  .app-screen::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);
    border-radius: 20px;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}