*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsla(358, 75%, 58%, 1);
  --primary-2: hsla(358, 85%, 63%, 1);
  --blue: hsla(209, 77%, 23%, 1);
  --rose-1: hsla(358, 85%, 63%, 0.3);
  --rose-2: hsla(356, 81%, 96%, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  color: white;
  padding-bottom: 70px;
}

header {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hero {
  position: relative;
  background-color: var(--primary-2);
  overflow: hidden;
  padding-bottom: 46px;
}

.menu__trigger {
  width: 72px;
  height: 72px;
  z-index: 100;
  opacity: 0;
}

.menu {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-areas: "buttons" "items";
  justify-items: end;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.menu__lines,
.menu__close,
.menu__trigger {
  grid-area: buttons;
  width: 40px;
  height: 40px;
  margin: 20px;
}

.menu__close {
  display: none;
}

.menu__trigger:checked~.menu__lines {
  display: none;
}

.menu__trigger:checked~.menu__close {
  display: block;
}

.menu__trigger:checked~.menu__items {
  opacity: 1;
  transition: opacity 500ms;
}

.menu__items {
  width: 100%;
  /* display: none; */
  opacity: 0;
  padding: 0 20px 20px 20px;
  background-color: var(--primary);
  border-radius: 0 0 20px 20px;
  font-size: 18px;
  transition: opacity 500ms;
}

.menu__items ul {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  list-style: none;
  padding-top: 24px;
}

.menu__items ul {
  display: grid;
  gap: 12px;
}

.menu__items ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 500ms, text-shadow 500ms;
}

.menu__items ul li a:focus {
  text-shadow: 1px 1px 1px white;
  opacity: 1;
  outline: none;
}

.menu__items ul li a:hover {
  text-shadow: 1px 1px 1px white;
  opacity: 1;
}

.menu:has(:checked) .menu-items {
  display: block;
}

.info {
  padding: 50px 20px 35px;
}

.info .pet-images img {
  outline: 3px solid var(--primary-2);
  border-radius: 50%;
}

.info .pet-images img+img {
  margin-left: -10px;
}

.info__text {
  font-weight: 400;
  font-size: 14px;
}

.info__text span {
  font-weight: 700;
}

.hero .text-wrapper {
  padding: 0 20px 30px;
}

.info__title {
  font-size: 44px;
  width: 280px;
  line-height: 110%;
}

.info__subtitle {
  display: none;
}

/* ===== */

.mosaic {
  height: 280px;
  position: relative;
  background-image: url("./assets/dog-no-bg.png"), url("./assets/bg-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom center;
}

.cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.cta__button {
  width: 240px;
  height: 55px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: var(--blue);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}


/* section */

main {
  color: var(--blue);
  padding-top: 70px;
  padding-bottom: 40px;
}

main h3 {
  font-size: 30px;
  font-weight: 700;
  width: 320px;
  margin: 0 auto 24px;
}

.container-sections {
  display: grid;
  gap: 10px;
}

section {
  background-color: var(--rose-2);
  border: 1px solid var(--rose-1);
  color: var(--blue);
  height: 200px;
  width: 320px;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section img {
  width: 30px;
}

section p {
  font-size: 14px;
  color: black;
  line-height: 110%;
}

section span {
  font-weight: 700;
}

/* */
.app-screen {
  margin-top: 35px;
  position: relative;
  background-image: url("./assets/app-screen-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 360px;
  width: 100%;
}

.app-screen::before {
  position: absolute;
  width: 100%;
  height: 280px;
  content: '';
  background-color: hsla(356, 81%, 96%, 0.8);
  border-top: 1px solid var(--rose-1);
  border-bottom: 1px solid var(--rose-1);
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}


@media (min-width: 1100px) {
  .hero-wrapper {
    background-color: var(--primary-2);
  }

  .hero {
    display: grid;
    height: 820px;
    grid-template-areas: "header mosaic"
      "info mosaic"
      "texts mosaic";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 150px auto;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  header {
    grid-area: header;
    background-color: transparent;
    align-self: end;
    padding-left: 100px;
  }

  header img {
    width: 180px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 100px;
    grid-area: info;
    align-self: center;
  }

  .info img {
    width: 32px;
  }

  .info__text {
    font-size: 16px;
  }

  .hero .text-wrapper {
    padding: 0 50px 0 100px;
    grid-area: texts;
    align-self: start;
  }

  .info__title {
    font-size: 72px;
    width: auto;
    line-height: 110%;
    margin-bottom: 80px;
  }

  .info__subtitle {
    display: block;
    font-size: 24px;
    font-weight: 400;
    /* width: 400px; */
    line-height: 34px;
  }

  .menu {
    justify-items: center;
    align-items: start;
  }

  .menu__lines,
  .menu__close,
  .menu__trigger {
    height: 72px;
    width: 72px;
    transform: translate(90px, 50px)
  }

  .menu__items {
    width: 592px;
    height: 542px;
    position: absolute;
    z-index: -1;
    top: 20px;
    transform: translateX(297px);
    padding: 0 20px 20px 50px;
    font-size: 36px;
    border-radius: 20px;
    opacity: 0.9;
  }

  .menu__items ul {
    border: none;
    padding-top: 227px;
  }

  .menu__items ul {
    border: none;
    padding-top: 200px;
  }

  .mosaic {
    grid-area: mosaic;
    height: auto;
    background-image: url("./assets/cao-no-bg.png"), url("./assets/bg-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 98px left 90px, top 20px left;
    background-size: 400px, auto;
  }

  .cta {
    height: 180px;
    left: 295px;
  }

  .cta__button {
    width: 500px;
    height: 72px;
    border-radius: 20px;
    font-size: 20px;
  }

  main {
    padding: 100px;
    display: grid;
    grid-template-areas: "title title"
      "section screen";
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
  }

  main h3 {
    width: 100%;
    font-size: 48px;
    grid-area: title;
  }

  .container-sections {
    grid-area: section;
    display: grid;
    grid-template-areas: "A B"
      "C C";
    gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .container-sections section:nth-child(1) {
    grid-area: A;
  }

  .container-sections section:nth-child(2) {
    grid-area: B;
  }

  .container-sections section:nth-child(3) {
    grid-area: C;
  }

  section {
    width: 100%;
    padding-right: 20px;
  }

  .app-screen {
    grid-area: screen;
    margin: 0;
    height: 472px;
    margin-top: -44px;
    background-image: url('./assets/app-screen-bg.svg'), url('./assets/app-screen-bg.svg');
    background-position: top left -50px, bottom -100px right -100px;
  }

  .app-screen::before {
    display: none;
  }

  .app-screen::after {
    position: absolute;
    width: 100%;
    height: 426px;
    content: '';
    background-color: hsla(356, 81%, 96%, 0.6);
    border: 1px solid var(--rose-1);
    z-index: -1;
    bottom: 0;
    border-radius: 20px;
  }

}